div{
    width: 100px;
    height: 100px;
    border: 1px solid red;
}

img {
    border: 10px groove orangered;
}
twoGoph {
    border: 10px groove orangered;
}
threeGoph {
    border: 10px groove orangered;
}
fourGoph {
    border: 10px groove orangered;
}
fiveGoph {
    border: 10px groove orangered;
}
